<div class="footer-wrap">
    <div class="bg-alt">
        <div class="content content--tight footer">
            <div class="footer__section">
                <div class="footer__overline">JOIN</div>
                <p>
                    Join us at our meetings, every Wednesday at 6:00 PM in CSE 231, or on
                    Discord anytime.
                </p>

                <span class="footer__copyright hide-mobile">
                    &copy; <script>document.write(new Date().getFullYear())</script> UFSIT. All rights reserved.
                </span>
            </div>
            <div class="footer__section">
                <div class="footer__overline">CLUB</div>
                <a class="footer__link" href="/">Home</a>
                <a class="footer__link" href="/about.html">About</a>
                <a class="footer__link" href="/sponsorship.html">Sponsorship</a>
                <a class="footer__link" href="/contact.html">Contact us</a>
            </div>
            <div class="footer__section">
                <div class="footer__overline">CONNECT</div>
                <a class="footer__link" href="https://instagram.com/uf.sit">Instagram</a>
                <a class="footer__link" href="https://www.linkedin.com/company/ufsit">LinkedIn</a>
                <a class="footer__link" href="https://twitter.com/ufsit">Twitter</a>
                <a class="footer__link" href="https://youtube.com/@ufsit">YouTube</a>
            </div>
            <span class="footer__copyright show-mobile">
                &copy; <script>document.write(new Date().getFullYear())</script> UFSIT. All rights reserved.
            </span>
        </div>
    </div>
</div>
