<link rel="icon" href="{{ site.baseurl }}/favicon.ico" sizes="any" />

<div class="content content--full content--tight">
  <div class="header nav">
    <a class="nav__title nav__link" href="/">
      <!-- <img alt="" src="/assets/files/logos/logo.webp" /> -->
      Andrey Nikitin
    </a>
    <div class="nav__links">
      <a class="nav__link" href="{{ site.baseurl }}/">Home</a>
      <!-- <a class="nav__link" href="/about.html">About</a>
      <a class="nav__link" href="/schedule.html">Schedule</a>
      <a class="nav__link" href="/sponsorship.html">Sponsorship</a>
      <a class="nav__link" href="/contact.html">Contact Us</a>
      <a class="nav__external" href="https://discord.ufsit.club/">Join</a> -->
    </div>
  </div>
</div>
