@mixin dark-mode() {
  &[data-theme="dark"], [data-theme="dark"] & {
    @content;
  }
}

@mixin light-mode() {
  @content;
}

html {
  @include light-mode {
    --color-primary: #3b82f6;
    --color-secondary: #4b5563;

    --color-text-primary: #1f2937;
    --color-text-secondary: #4b5564;
    --color-text-tertiary: #9ca3af;

    --color-surface-primary: #ffffff;
    --color-surface-secondary: #f9fafb;
    --color-surface-tertiary: #e5e7eb;

    --color-starback-primary: #6ed1ff;

    --color-light: var(--color-surface-primary);
    --color-glow: rgba(255, 156, 110, 0.7);
  }

  @include dark-mode {
    --color-primary: #1d4ed8;
    --color-secondary: #2d3748;

    --color-text-primary: #e5e7eb;
    --color-text-secondary: #d1d5db;
    --color-text-tertiary: #9ca3af;

    --color-surface-primary: #111827;
    --color-surface-secondary: #1f2937;
    --color-surface-tertiary: #374151;

    --color-starback-primary: #0a0e27;

    --color-light: #ffffff;
    --color-glow: rgba(247, 0, 255, 0.7);
  }
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color-text-tertiary: var(--color-text-tertiary);

$color-surface-primary: var(--color-surface-primary);
$color-surface-secondary: var(--color-surface-secondary);
$color-surface-tertiary: var(--color-surface-tertiary);

$color-starback-primary: var(--color-starback-primary);

$color-light: var(--color-light);
$color-glow: var(--color-glow);
